# Random Forest on Mushroom dataset

In [7]:
# Importing libraries for the project
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot
from scipy import optimize
import math

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
from sklearn import datasets

In [8]:
filename = 'data/encodedShroomsV2.csv'
df = pd.read_csv(filename)
df

Empty DataFrame
Columns: [10010000001000000100001000000010100101000010000000010001000010001000100000000100000010001000001000100000000100, 00010000001000000000101000100000100110000010000000011000000010001000100000000100000010001000001000000100000010, 00000010001000010000001000010000100110000000001000011000000010001000100000000100000010001000001000000100000010, 10010000010000010000001000000010100101000000001000010001000010001000100000000100000010001000001000100000000100, 00010000001010000000010000000100101010000010000000100001000010001000100000000100000010001001000000000100010000, 00010000010000000000101000100000100110000000001000011000000010001000100000000100000010001000001000100000000010, 00000010001000010000001000100000100110100000000000011000000010001000100000000100000010001000001000100000000010, 00000010010000010000001000010000100110000000001000011000000010001000100000000100000010001000001000000100000100, 10010000010000010000001000000010100101000000000010010001000010001000100000000100000010001000001000100000001000, 00000010001000000000101000100000100110100000000000011000000010001000100000000100000010001000001000100000000100, 00010000010000000000101000010000100110100000000000011000000010001000100000000100000010001000001000000100000010, 00010000010000000000101000100000100110000000001000011000000010001000100000000100000010001000001000100000000100, 00000010001000000000101000100000100110000001000000011000000010001000100000000100000010001000001000000100000100, 10010000010000010000001000000010100101000010000000010001000010001000100000000100000010001000001000000100001000, 00010001000000000100010000000100101010000000001000100001000011000000100000000100000010001001000000100000010000, 00000101000010000000010000000100100101000010000000010001000010001000100000000100000010001000001000000100000001, 01000001000000010000010000000100101010000010000000100001000010001000100000000100000010001001000000000100010000, 10010000001000000100001000000010100101000000001000010001000010001000100000000100000010001000001000100000000100, 10010000010000010000001000000010100101000000001000010001000010001000100000000100000010001000001000000100000100, 10010000001000000100001000000010100101000010000000010001000010001000100000000100000010001000001000000100000100, 00000010001000000000101000100000100110000010000000011000000010001000100000000100000010001000001000000100000100, 10010000010000000100001000000010100101000000001000010001000010001000100000000100000010001000001000000100001000, 00000010010000000000101000010000100110000010000000011000000010001000100000000100000010001000001000000100000100, 00000010010000010000001000100000100110000001000000011000000010001000100000000100000010001000001000000100000010, 00000010001000010000001000010000100110100000000000011000000010001000100000000100000010001000001000100000000100, 11000000001000010000001000000010100101000000001000010001000010001000100000000100000010001000001000000100001000, 00010000010000000000101000100000100110000000001000011000000010001000100000000100000010001000001000000100000010, 00010000010000010000001000010000100110000001000000011000000010001000100000000100000010001000001000000100000010, 01000001000000000100010000000100100101000010000000010001000010001000100000000100000010001000001000100000000001, 00010000001000000000101000100000101001000000001000100000100010001000100000000100000010001000001000000100001000, 00000010001000000000101000010000100110100000000000011000000010001000100000000100000010001000001000000100000010, 10010000010000010000001000000010100101000010000000010001000010001000100000000100000010001000001000000100000100, 00010000010000000000101000010000100110000000001000011000000010001000100000000100000010001000001000000100000010, 00010000010000000100001000010000100110000000000010010100000010010000100000000100000010001000001000000100000001, 00000010010000000000101000010000100110000000001000011000000010001000100000000100000010001000001000000100000100, 00010001000000000000101000010000101001000001000000100000100010001000100000000100000010001000001000000100001000, 00000101000010000000010000000100100101000010000000010001000010001000100000000100000010001000001000100000001000, 10010000010000000100001000000010100101000001000000010001000010001000100000000100000010001000001000000100000100, 00010001000000000000101000100000101001000000000010100000100010001000100000000100000010001000001000000100001000, 00000010001000000000101000010000100110000010000000011000000010001000100000000100000010001000001000100000000100, 00000010010000000000101000100000100110000000001000011000000010001000100000000100000010001000001000000100000100, 00010000010000000000101000010000100110000000001000010100000010010000100000000100000010001000001000100000000001, 00010001000000000100010000000100100101100000000000010001000010001000100000000100000010001000001000100000000001, 10010000010000010000001000000010100101000000000010010001000010001000100000000100000010001000001000000100001000, 00010000001000000000101000100000100110000001000000011000000010001000100000000100000010001000001000100000000010, 00010000010000010000001000100000100110000000001000011000000010001000100000000100000010001000001000000100000010, 00010000010000000000101000010000100110000010000000011000000010001000100000000100000010001000001000100000000100, 00010000001000010000001000010000100110000001000000011000000010001000100000000100000010001000001000000100000010, 00010000010000000000101000010000100110000000001000010100000010010000100000000100000010001000001000000100000100, 01000000010000000000101000010000100110000001000000010100000010010000100000000100000010001000001000100000000100, 00010000010000000100001000100000100110000001000000010100000010010000100000000100000010001000001000100000000100, 00010000001000010000001000010000100110000010000000011000000010001000100000000100000010001000001000100000000100, 00000010001000010000001000010000100110000010000000011000000010001000100000000100000010001000001000000100000010, 10010000010000000100001000000010100101000010000000010001000010001000100000000100000010001000001000000100001000, 10010000001000010000001000000010100101000010000000010001000010001000100000000100000010001000001000100000001000, 00000010010000000000101000100000100110000001000000011000000010001000100000000100000010001000001000100000000100, 01000001000010000000010000000100101010000000001000100001000010001000100000000100000010001001000000000100010000, 00000010001000010000001000100000100110000001000000011000000010001000100000000100000010001000001000000100000010, 00010000001000000000101000010000100110000010000000011000000010001000100000000100000010001000001000100000000010, 00010000010000000100001000100000100110000000000010010100000010010000100000000100000010001000001000100000000001, 00000101000010000000010000000100100101000010000000010001000010001000100000000100000010001000001000000100001000, 00000010010000000000101000100000100110000010000000011000000010001000100000000100000010001000001000000100000100, 00000010001000000000101000010000100110100000000000011000000010001000100000000100000010001000001000000100000100, 00000010010000000000101000010000100110100000000000011000000010001000100000000100000010001000001000000100000010, 00000010010000010000001000010000100110000000001000011000000010001000100000000100000010001000001000000100000100.1, 01000000001000000100010000000100101010000010000000100001000010001000100000000100000010001001000000100000010000, 00010000001000010000001000010000100110000000001000011000000010001000100000000100000010001000001000100000000100, 01000000010000000000101000100000100110000001000000010100000010010000100000000100000010001000001000000100000100, 00010000010000000000101000100000100110000001000000011000000010001000100000000100000010001000001000100000000010, 00010001000010000000010000000100100101000000000010010001000010001000100000000100000010001000001000000100001000, 01000001000000000000101000010000101001000000000010100000100010001000100000000100000010001000001000000100001000, 00000010010000010000001000010000100110100000000000011000000010001000100000000100000010001000001000000100000100, 01000001000000000000101000010000101001000001000000100000100010001000100000000100000010001000001000000100001000, 00010000010000000100001000100000100110000000000010010100000010010000100000000100000010001000001000100000000100, 00000010001000000000101000100000100110000010000000011000000010001000100000000100000010001000001000100000000100, 01000000001000000000101000010000101001000000000010100000100010001000100000000100000010001000001000000100001000, 00010000001000010000001000010000101001000000001000100000100010001000100000000100000010001000001100000000001000, 01000000010000000100001000010000100110000000000010010100000010010000100000000100000010001000001000000100000001, 10010000010000000100001000000010100101000001000000010001000010001000100000000100000010001000001000000100001000, 01000000010000000100001000100000100110000000001000010100000010010000100000000100000010001000001000000100000001, 00010000001000000100010000000100101010000010000000100001010000001000100000000100000010001001000000000100000100, 10010000010000010000001000000010100101000001000000010001000010001000100000000100000010001000001000100000000100, 01000001000010000000010000000100100101000000001000010001000010001000100000000100000010001000001000000100000001, 00010001000010000000010000000100101010000000001000100001000010001000100000000100000010001001000000000100000100, 00010000010000000000101000010000100110000001000000010100000010010000100000000100000010001000001000100000000100, 00010000001000000100010000000100101010000010000000100001000010001000100000000100000010001001000000100000000100, 00000010001000010000001000100000100110000001000000011000000010001000100000000100000010001000001000100000000100, 00010000001000010000001000010000100110000000001000011000000010001000100000000100000010001000001000000100000100, 01000000010000000100001000010000100110000001000000010100000010010000100000000100000010001000001000100000000001, 00000101000000000100010000000100100101000000001000010001000010001000100000000100000010001000001000000100001000, 00010001000000000100010000000100100101000000001000010001000010001000100000000100000010001000001000000100000001, 00000010001000010000001000010000100110000010000000011000000010001000100000000100000010001000001000100000000100, 00010000010000000000101000100000100110100000000000011000000010001000100000000100000010001000001000100000000100, 00010000010000000000101000010000100110100000000000011000000010001000100000000100000010001000001000100000000010, 00010000001000000100010000000100101010000000001000100001000010001000100000000100000010001001000000000100010000, 00010000001000010000001000100000100110100000000000011000000010001000100000000100000010001000001000000100000100, 01000000010000000100001000010000100110000000000010010100000010010000100000000100000010001000001000000100000100, 00010000001000000000101000100000100110000000001000011000000010001000100000000100000010001000001000100000000010, 00000010001000010000001000100000100110100000000000011000000010001000100000000100000010001000001000000100000100, 00010000010000010000001000100000100110100000000000011000000010001000100000000100000010001000001000100000000100, ...]
Index: []

[0 rows x 8125 columns]

In [17]:
# initializing datasets, filling missing values with zeroes
X = np.empty((8124, 110), dtype=int)
j = 0
for column in df:
    if len(df[column].name) == 110:
        X_row = []
        for i in range(110):
            if df[column].name[i] == '1':
                X_row.append(1)
            else:
                X_row.append(0)
        X[j] = X_row
    if len(df[column].name) == 112:
        X_row = []
        for i in range(110):
            if df[column].name[i] == '1':
                X_row.append(1)
            else:
                X_row.append(0)
        X[j] = X_row
    j = j+1

In [18]:
X

array([[1, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 1, 0],
       [0, 0, 0, ..., 0, 1, 0],
       ...,
       [0, 1, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [23]:
# Column 0 is the column of the value to be predicted 
ds = pd.DataFrame(data = X)
ds

,0,1,2,3,4,5,6,7,8,9,...,100,101,102,103,104,105,106,107,108,109
0,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
3,1,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8119,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
8120,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
8121,0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
8122,1,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
8123,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [52]:
X=ds.iloc[:,1:]  # Features
y=ds.iloc[:,0]  # Labels

In [53]:
y.head()

0    1
1    0
2    0
3    1
4    0
Name: 0, dtype: int32

In [54]:
X.head()

,1,2,3,4,5,6,7,8,9,10,...,100,101,102,103,104,105,106,107,108,109
0,0,0,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,0,0,1,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
2,0,0,0,0,0,1,0,0,0,1,...,0,1,0,0,0,0,0,0,1,0
3,0,0,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,1,0,0,0,0,0,0,1,...,0,1,0,0,0,1,0,0,0,0

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4) # 70% training and 30% test

In [68]:
#Create a Gaussian Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [69]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0